@page "/"

@using RedditAPI.Model;
@using RedditClientSide.Service;
@inject RedditService service

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<h6>BAD-REDDIT >:)</h6>
<div class="list-group">
    @foreach (var post in FullPostList.Take(NumOfPosts))
    {
        
        <a href="/commentpage/@post.PostId" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@post.Title</h5>
                <small>@post.PostTime.ToString("dd-MM/yyyy")</small>
            </div>
            <p class="mb-1 text-truncate" style="max-width:100px;">@post.Body</p>
            <small class="text-muted">@FullUserList.Where(u => u.UserId == post.UserID).First().Name</small>
        </a>
    }
</div>

    @code {
        public List<Post> FullPostList = new List<Post>();
        public List<User> FullUserList = new List<User>();
        public int NumOfPosts = 50;

        protected override async Task OnInitializedAsync()
        {

            FullPostList = (await service.GetAllPosts()).ToList();
            FullUserList = (await service.GetAllUsers()).ToList();

        }
      public async Task<User> GetUser(long id)
{
            return await service.GetUser(id);
}


}
