@page "/reddit"

@using RedditAPI.Model;
@using RedditClientSide.Service;
@inject RedditService service

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<h3>Home</h3>
<div class="list-group">
    @foreach (var post in FullPostList)
        {
            <a href="/commentpage/@post.PostId" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@post.Title</h5>
                <small>@post.PostId</small>
            </div>
            <p class="mb-1 text-truncate" style="max-width:100px;">@post.Body</p>
            <small class="text-muted">@post.UserID</small>
        </a>
        }
    </div>

    @code {
        public List<Post> FullPostList = new List<Post>();

        protected override async Task OnInitializedAsync()
        {

            FullPostList = (await service.GetAllPosts()).ToList();
        }
    }
